In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('data4.csv')

In [ ]:

import re
def clean_text(text):
   
    clean_text = re.sub(r'<[^>]*>', '', text)
   
    clean_text = re.sub(r'[^a-zA-Z0-9\s]', '', clean_text)
    return clean_text

df['cleaned_text_data'] = df['ncc'].apply(clean_text)

In [ ]:
df=df.drop(['ncc'], axis=1)

In [ ]:
import re


def clean_text(text):
    
    text = re.sub(r"\d+\s*", "", text)

    text = re.sub(r"\r\n", " ", text)

    text = re.sub(r"[^\w\s.,\-']", "", text)

    return text

df['ncc'] = df['cleaned_text_data'].apply(clean_text)

In [ ]:
df=df.drop(['cleaned_text_data'], axis=1)

In [ ]:

df['name'] = df['name'].str.replace('.', ' ')

In [ ]:
df.head()

,Unnamed: 0,num,name,ncc
0,33960,9316657,one tree hill always forever (2012),For the past nine years weve watched them live...
1,63833,9445932,the traitors australia s01 e12 episode 1 12 (2...,RODGER Previously on The Traitors hotel guests...
2,72017,9477399,south park s26 e05 dikinbaus hot dogs (),MTVIm goin down to South Park gonna have mysel...
3,42729,9355095,ghosts s02 e08 the liquor license (2022),Got talked into buying the big carriageThats a...
4,21484,9267021,nova s47 e02 dog tales (2020),This planet is home to over a billion dogsSo i...

In [ ]:
df.to_csv('final_csv.csv')